@keyframes slide{

    from{
        transform: translateX(-100px);
    }

    to{
        transform: translateX(0);
    }
}

.btn{
    animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 2s;
}